# ナップサック問題 (Knapsack Problem)

動的計画法

- N個の品物の価格と重さが与えられる
- 決まった重さまで入れることができるナップサックがあり、品物の合計価格が最大と成るように入れる品物を選びたい

In [42]:
import pandas as pd

In [59]:
class Item:
    def __init__(self, value, weight):
        self.v = value
        self.w = weight

class Result:
    def __init__(self, i_items, value_total, weight_total):
        self.i_items = i_items
        self.v_total = value_total
        self.w_total = weight_total        

def knapsack(W, items):
    """
    W : ナップサックに入れられる重さの最大値
    """
    # ムダな計算を省くため、重さでソートしておく
    sorted_items = sorted(items, key=lambda item: item.w)
    N = len(items)
    results = [Result([], 0, 0)]
    for w in range(1, W+1):
        # 最大重量wのナップサック問題を解く
        results.append(results[-1])
        for i in range(N):
            item = sorted_items[i]
            if item.w <= w:
                if i not in results[w-item.w].i_items and results[w].v_total < results[w-item.w].v_total+item.v:
                    results[w] = Result(
                        results[w-item.w].i_items + [i],
                        results[w-item.w].v_total+item.v,
                        results[w-item.w].w_total+item.w
                    )
            else:
                break

    return pd.DataFrame(
        data=[[w, [(sorted_items[i].w, sorted_items[i].v) for i in r.i_items], r.w_total, r.v_total] for w, r in enumerate(results)],
        columns=['knapsack size', 'used items (weight, value)', 'total weight', 'total value'])

In [60]:
items = [Item(100,5), Item(200,7), Item(150,8), Item(90,2), Item(200,9), Item(120,6), Item(140,8)]
knapsack(30, items)

,knapsack size,"used items (weight, value)",total weight,total value
0,0,[],0,0
1,1,[],0,0
2,2,"[(2, 90)]",2,90
3,3,"[(2, 90)]",2,90
4,4,"[(2, 90)]",2,90
5,5,"[(5, 100)]",5,100
6,6,"[(6, 120)]",6,120
7,7,"[(7, 200)]",7,200
8,8,"[(6, 120), (2, 90)]",8,210
9,9,"[(7, 200), (2, 90)]",9,290
10,10,"[(7, 200), (2, 90)]",9,290
11,11,"[(7, 200), (2, 90)]",9,290
12,12,"[(7, 200), (5, 100)]",12,300
13,13,"[(7, 200), (6, 120)]",13,320
14,14,"[(7, 200), (5, 100), (2, 90)]",14,390
15,15,"[(7, 200), (6, 120), (2, 90)]",15,410
16,16,"[(7, 200), (6, 120), (2, 90)]",15,410
17,17,"[(7, 200), (2, 90), (8, 150)]",17,440
18,18,"[(7, 200), (2, 90), (9, 200)]",18,490
19,19,"[(7, 200), (2, 90), (9, 200)]",18,490
20,20,"[(7, 200), (6, 120), (2, 90), (5, 100)]",20,510
21,21,"[(7, 200), (6, 120), (2, 90), (5, 100)]",20,510
22,22,"[(7, 200), (2, 90), (8, 150), (5, 100)]",22,540
23,23,"[(7, 200), (2, 90), (9, 200), (5, 100)]",23,590
24,24,"[(7, 200), (2, 90), (9, 200), (6, 120)]",24,610
25,25,"[(7, 200), (2, 90), (9, 200), (6, 120)]",24,610
26,26,"[(7, 200), (2, 90), (9, 200), (8, 150)]",26,640
27,27,"[(7, 200), (2, 90), (9, 200), (8, 150)]",26,640
28,28,"[(7, 200), (2, 90), (8, 150), (5, 100), (6, 120)]",28,660
29,29,"[(7, 200), (2, 90), (9, 200), (6, 120), (5, 100)]",29,710
30,30,"[(7, 200), (2, 90), (9, 200), (6, 120), (5, 100)]",29,710

In [61]:
items = [Item(7,3), Item(12,6), Item(9,5), Item(7,4), Item(13,8), Item(8,5), Item(4,3), Item(5,4)]
knapsack(25, items)

,knapsack size,"used items (weight, value)",total weight,total value
0,0,[],0,0
1,1,[],0,0
2,2,[],0,0
3,3,"[(3, 7)]",3,7
4,4,"[(3, 7)]",3,7
5,5,"[(5, 9)]",5,9
6,6,"[(6, 12)]",6,12
7,7,"[(3, 7), (4, 7)]",7,14
8,8,"[(5, 9), (3, 7)]",8,16
9,9,"[(6, 12), (3, 7)]",9,19
10,10,"[(6, 12), (3, 7)]",9,19
11,11,"[(6, 12), (5, 9)]",11,21
12,12,"[(6, 12), (3, 7), (3, 4)]",12,23
13,13,"[(6, 12), (3, 7), (4, 7)]",13,26
14,14,"[(6, 12), (5, 9), (3, 7)]",14,28
15,15,"[(6, 12), (5, 9), (3, 7)]",14,28
16,16,"[(6, 12), (3, 7), (4, 7), (3, 4)]",16,30
17,17,"[(6, 12), (5, 9), (3, 7), (3, 4)]",17,32
18,18,"[(6, 12), (5, 9), (3, 7), (4, 7)]",18,35
19,19,"[(6, 12), (5, 9), (3, 7), (5, 8)]",19,36
20,20,"[(6, 12), (5, 9), (3, 7), (5, 8)]",19,36
21,21,"[(6, 12), (5, 9), (3, 7), (4, 7), (3, 4)]",21,39
22,22,"[(6, 12), (5, 9), (3, 7), (8, 13)]",22,41
23,23,"[(6, 12), (5, 9), (3, 7), (5, 8), (4, 7)]",23,43
24,24,"[(6, 12), (5, 9), (3, 7), (5, 8), (4, 7)]",23,43
25,25,"[(6, 12), (5, 9), (3, 7), (8, 13), (3, 4)]",25,45