# 騎士巡歴問題 (Knight's Tour Problem)

- back tracking

In [60]:
import pandas as pd

In [81]:
def knight_tour(N, x0=0, y0=0):
    # ナイトが移動可能な方向ベクトル
    v = [[1,2],[2,1],[2,-1],[1,-2],[-1,-2],[-2,-1],[-2,1],[-1,2]]
    board = []
    for i in range(N):
        board.append([0] * N)
    x, y = x0, y0
    route = [(x, y)]  # これまで通った経路を保存する配列
    board[x][y] = len(route)
    i_v = 0  # 方向ベクトルのインデックス
    while len(route) < N * N:
        x_next = x+v[i_v][0]
        y_next = y+v[i_v][1]
        if 0<=x_next<N and 0<=y_next<N and board[x_next][y_next] == 0:
            x = x_next
            y = y_next
            route.append((x, y))
            board[x][y] = len(route)
            i_v = 0
        elif i_v < 7:
            i_v += 1
        else:
            # 全て行き止まり → このルートは誤り
            while i_v >= 7:
                if (x, y) == (x0, y0):
                    raise Exception('No Answer (N={})'.format(N))
                board[x][y] = 0
                route = route[:-1]
                i_v = v.index([x-route[-1][0], y-route[-1][1]]) + 1
                x = route[-1][0]
                y = route[-1][1]

    return board

In [82]:
pd.DataFrame(knight_tour(4))

Exception: No Answer (N=4)

In [83]:
pd.DataFrame(knight_tour(5))

    0   1   2   3   4
0   1  12   7  16  25
1   6  17   2  13   8
2  11  20  15  24   3
3  18   5  22   9  14
4  21  10  19   4  23

In [84]:
pd.DataFrame(knight_tour(6))

    0   1   2   3   4   5
0   1  34  17  32  23  36
1  16  25   2  35  18  31
2   7  12  33  24   3  22
3  26  15   8  21  30  19
4  11   6  13  28   9   4
5  14  27  10   5  20  29

In [85]:
pd.DataFrame(knight_tour(7))

    0   1   2   3   4   5   6
0   1  32  39  28  41  24  49
1  38  29   2  25  22  27  42
2  31  20  33  40   3  48  23
3   8  37  30  21  26  43   4
4  19  16   9  34  45  12  47
5  36   7  14  17  10   5  44
6  15  18  35   6  13  46  11

指数関数的に時間が増大するため、N >= 8 は実行しない