# 連立方程式

- Gauss-Jordan
  - 一部の係数がゼロだったり非常に小かったりすると誤差が大きくなる or ゼロで割ってしまうエラーが発生
- ピボット選択法（Gauss-Jordan 改善）

In [61]:
# display graph on notebook
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math

In [62]:
"""
2x + 3y + z = 4
4x + y - 3z = -2
-x + 2y + 2z = 2
"""
coefficients1 = np.array(
    [
        [2.0, 3.0, 1.0, 4.0],
        [4.0, 1.0, -3.0, -2.0],
        [-1.0, 2.0, 2.0, 2.0]
    ]
)
coefficients2 = np.array(
    [
        [0.0, 3.0, 1.0, 9.0],
        [4.0, 1.0, -3.0, -3.0],
        [-1.0, 2.0, 2.0, 9.0]
    ]
)

In [63]:
# Gauss-Jordan
def gauss_jordan(coefficient_matrix):
    d = coefficient_matrix.shape[0]
    w = coefficient_matrix.copy()
    for i in range(d):
        for j in range(d):
            if i != j:
                r = w[j][i] / w[i][i]
                w[j] = w[j] - w[i] * r
    for i in range(d):
        w[i] = w[i] / w[i][i]
    return w

In [64]:
pd.DataFrame(data=gauss_jordan(coefficients1), columns=['ax', 'ay', 'az', 'b'])

    ax   ay   az    b
0  1.0  0.0  0.0  2.0
1 -0.0  1.0 -0.0 -1.0
2 -0.0 -0.0  1.0  3.0

In [65]:
pd.DataFrame(data=gauss_jordan(coefficients2), columns=['ax', 'ay', 'az', 'b'])

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: RuntimeWarning: divide by zero encountered in double_scalars

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: RuntimeWarning: invalid value encountered in multiply
  if __name__ == '__main__':
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in double_scalars

   ax  ay  az   b
0 NaN NaN NaN NaN
1 NaN NaN NaN NaN
2 NaN NaN NaN NaN

In [66]:
# ピボット選択法
def gauss_jordan_pivot_select(coefficient_matrix):
    d = coefficient_matrix.shape[0]
    w = coefficient_matrix.copy()
    for i in range(d):
        # 追加部分：ここから
        # 絶対値が最大になる値を持つ列に入れ替える
        for j in range(i, d):
            if math.fabs(w[i][i]) < math.fabs(w[j][i]):
                tmp = w[i].copy()
                w[i] = w[j].copy()
                w[j] = tmp.copy()
        # 追加部分：ここまで
        for j in range(d):
            if i != j:
                r = w[j][i] / w[i][i]
                w[j] = w[j] - w[i] * r
    for i in range(d):
        w[i] = w[i] / w[i][i]
    return w

In [67]:
pd.DataFrame(data=gauss_jordan_pivot_select(coefficients1), columns=['ax', 'ay', 'az', 'b'])

    ax   ay   az    b
0  1.0  0.0  0.0  2.0
1  0.0  1.0  0.0 -1.0
2 -0.0 -0.0  1.0  3.0

In [68]:
pd.DataFrame(data=gauss_jordan_pivot_select(coefficients2), columns=['ax', 'ay', 'az', 'b'])

    ax   ay   az    b
0  1.0  0.0  0.0  1.0
1  0.0  1.0  0.0  2.0
2  0.0  0.0  1.0  3.0