# テイラー展開

In [ ]:
# display graph on notebook
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math

In [31]:
def exp_0_tailor_expansion(x, eps, max_try_time):
    result = 0
    factorial = 1   # 階乗の値
    diff = 1.0
    i = 0
    while eps * result < diff and i < max_try_time:
        diff = math.pow(x, i) / factorial
        result = result + diff
        i += 1
        factorial *= i
    return result, i

eps = 1e-8
max_try_time = 1000
x_list = [10, 20, 30, 40, 50, 60, 70, 80]
data = []
for x in x_list:
    myexp, try_num = exp_0_tailor_expansion(x, eps, max_try_time)
    data.append([x, math.exp(x), myexp, try_num])

pd.DataFrame(data=data, columns=['x', 'exp(x)', 'myexp(x)', 'try_num'])

    x        exp(x)      myexp(x)  try_num
0  10  2.202647e+04  2.202647e+04       34
1  20  4.851652e+08  4.851652e+08       51
2  30  1.068647e+13  1.068647e+13       67
3  40  2.353853e+17  2.353853e+17       81
4  50  5.184706e+21  5.184705e+21       95
5  60  1.142007e+26  1.142007e+26      109
6  70  2.515439e+30  2.515439e+30      122
7  80  5.540622e+34  5.540622e+34      135